/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(37, 54, 38);
    overflow: hidden;
    margin-bottom: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana, Tahoma, sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: rgb(44, 56, 44);
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #a2c71e;
    color: white;
}
body {
  background-image: url("forg bg.png");
}
/* fundalul alb pt text*/
#content {
    margin-left: 12%;
    margin-right: 12%;
    margin-top: 0%;
    padding-top: 10px;
    height: 150%;
    text-align: justify;
    background-color: #ffffffea;
    padding-left: 8%;
    padding-right: 8%;
}


/*________DROPDOWN MENU__________*/



/* Dropdown Button */
.dropbtn {
  float: left;
    color: #d8ff6e00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Verdana, Tahoma, sans-serif;
}

.dropbtn :hover {
  background-color: rgba(213, 255, 97, 0);
  color: rgb(44, 56, 44);
}

.dropbtn.active{
    background-color: #a2c71e00;
    color: rgba(212, 255, 111, 0);
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  bottom: 50px;
  top: 2px;
  background-color: #d5fc7a00;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(41, 41, 41, 0.377);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(206, 233, 133);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*________DROPDOWN MENU__________*/



h1{
    text-align: center;
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}


/*__________________BROASCA1_______________*/

/* Container needed to position the button. Adjust the width as needed */
.br1 {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.br1 img {
  width: 40%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.br1 .btn {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgba(85, 85, 85, 0);
  padding: 150px 150px;
  border: none;
  cursor: pointer;
  border-radius: 150px;
}

.container .btn:hover {
  background-color: rgba(95, 95, 95, 0.329);
}

/*______________END OF BROASCA1_____________*/



/* Container holding the image and the text */
.container-st {
  position: relative;
  margin-top: 100px;
  margin-left: 17%;
}

.container-dr {
  position: relative;
  margin-top: 100px;
  margin-right: 17%;
  float: right;
  align-items: flex-end;
}

/* Bottom right text */
.text-block-st {
  position: absolute;
  bottom: 80px;
  left: 230px;
  background-color: rgb(37, 54, 38);
  color: white;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
}

.text-block-dr {
  position: absolute;
  bottom: 100px;
  right: 230px;
  width: 500px;
  background-color: rgb(37, 54, 38);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}






/* ______________SLIDESHOW_______________*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*_________END OF SLIDESHOW__________*/